.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
  font-size: 3.5rem;
  margin-top: 10px;
  }
}

.login-container{
  margin-top: 5%;
  margin-bottom: 5%;
}
html, body{
  height: 100%;
}
.full-height {
  height: 100%;
}
.login-form-1{
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
  text-align: center;
  color: #333;
}
.login-container form{
  padding: 10%;
}
.btnSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
.gif{
  margin-top:170px;
}
.col-lg-4{
  margin-top: 10px;
}
/*index*/
.cortar{
  width:200px;
  height:150px;
  text-overflow:ellipsis;
  overflow:hidden; 
}

.cortar-largo{
  height:420px;
  text-overflow:ellipsis;
  overflow:hidden; 
}

.img-experiencia{
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
}

#login-form{
  display: none;
}

/*footer*/
#menu {
  height: 10px;
  width: 630px;
  overflow: hidden;
  margin: 10px auto;
  text-align: center;
  text-justify: inter-word;
  padding-bottom:70px;
}
footer{
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
#menu ul li {
  float: left;
  margin: 0 5px;
  list-style-type: none;
}
/* Menu Link Styles */
#menu ul a {
  display: block;
  background: #e0192d;
  color: #fff;
  height: 80px;
  width: 150px;
  font: lighter 2em/80px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-decoration: none;

  transition: all .35s ease-in-out;
}
/* Secondary Link Styles */
#menu ul a:nth-of-type(even) {
  text-shadow: 0 0 3px #fff;
  background: #333;
  color: white;
}
/* Hover Slide */
#menu ul li:hover :first-child {
  margin-top: -80px;
}
#myInput{
  margin-left: 1200px;
  background-position: 10px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
/*buscador*/
#submit{
  margin-top: 5px;
}
/*header*/
.fototitulo{
  display:flex;
  color: white;
  font-size: 20px;
}
.losdos{
  display:flex;
  margin-top:90px;
  margin-left: 140px;
  font-size:50px;
}
.p{
  margin-right:3px;
}
.e{
  margin-left:3px;
}
.b{
  color:white;
}