html{
  min-height: 100%;
  position: relative;
}

body{
  margin: 0;
  margin-bottom: 200px;
  font-family: 'Quicksand', sans-serif;
}

header{
  margin-bottom: 20px;
}

.benvinguda{
  color: white;
}

.btnSubmit{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}

.experiencias-min{
  text-align: center;
}

/*index*/
.cortar{
  padding-left: 70px;
  padding-right: 70px;
  height:150px;
  text-overflow:ellipsis;
  overflow:hidden; 
}

.cortar-largo{
  height:420px;
  text-overflow:ellipsis;
  overflow:hidden; 
}

.img-experiencia{
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
}

#login-form{
  display: none;
}

/*footer*/
footer{
  background-color: #ddd;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  margin-top: 20px;
}

#menu {
  height: 10px;
  width: 630px;
  overflow: hidden;
  margin: 10px auto;
  text-align: center;
  text-justify: inter-word;
  padding-bottom:70px;
}

/*buscador*/
#submit{
  margin-top: 5px;
}

#myInput{
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
}

/*experiencia-registrat*/
.selector{
  padding-left:10px;
  padding-right: 10px;
}

.experiencia{
  cursor: pointer;
}

.btn-login-form{
  width: 100%;
}

/* Menú Footer */
#menu ul li {
  float: left;
  margin: 0 5px;
  list-style-type: none;
}
/* Menu Link Styles */
#menu ul a {
  display: block;
  background: #e0192d;
  color: #fff;
  height: 80px;
  width: 150px;
  font: lighter 2em/80px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-decoration: none;

  transition: all .35s ease-in-out;
}
/* Secondary Link Styles */
#menu ul a:nth-of-type(even) {
  text-shadow: 0 0 3px #fff;
  background: #333;
  color: white;
}
/* Hover Slide */
#menu ul li:hover :first-child {
  margin-top: -80px;
}

.align-center{
  text-align: center;
}

.img-button{
  margin: 10px;
}

.img-button:hover{
  transform:scale(1.25);
  cursor: pointer;
}

.div-img-button{
  height: 50px;
}